@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700");
* {
  box-sizing: border-box;
  font-family: 'Open Sans'; }

::-webkit-scrollbar {
  background-color: transparent;
  width: 1rem;
  height: 4rem; }

::-webkit-scrollbar-thumb {
  background-color: #191c20;
  border-radius: 0.5rem; }

html {
  font-size: 16px;
  background-color: #2e2f32; }

body {
  margin: 0rem;
  overflow: hidden; }

#app-outer {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.side-nav {
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 100%;
  width: 18rem;
  background-color: #191c20; }
  .side-nav .side-nav-header {
    position: relative;
    height: 4rem;
    width: 100%;
    padding: 1.35rem 0;
    line-height: 1;
    font-size: 1.3rem;
    text-align: center;
    color: lightgreen; }
  .side-nav .login-info {
    position: relative;
    height: 10rem;
    width: 100%;
    padding: 3.75rem 0; }
    .side-nav .login-info .login-icon {
      position: relative;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 50%;
      background-color: blue; }
  .side-nav .nav {
    position: relative;
    margin: 0rem;
    padding: 0rem;
    top: 5rem;
    background-color: #191c20; }
    .side-nav .nav li {
      list-style-type: none;
      overflow: hidden;
      background-color: #191c20;
      border-bottom: 0.15rem solid #0A0A0A;
      font-size: 2rem;
      padding: 0.5rem; }
      .side-nav .nav li a {
        margin-left: 15%;
        text-align: left;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 1.7rem;
        transition: 0.1s; }
      .side-nav .nav li:hover {
        background-color: rgba(0, 0, 0, 0.6); }
        .side-nav .nav li:hover li {
          background-color: rgba(0, 0, 0, 0.6); }
        .side-nav .nav li:hover a {
          margin-left: 18%; }

.top-bar {
  position: absolute;
  top: 0rem;
  left: 18rem;
  height: 4rem;
  width: calc(100% - 18rem);
  background-color: #000000; }
  .top-bar input {
    position: fixed;
    top: 0.92rem;
    left: 20%;
    height: 2.2rem;
    width: 50rem;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    background: #191c20;
    padding-left: 1rem;
    color: white; }
  .top-bar .settings {
    position: fixed;
    top: 1.5rem;
    right: 2%;
    height: 2rem;
    width: 4%;
    background-color: #000000; }
    .top-bar .settings a {
      text-decoration: none;
      color: #a1a5a7;
      background-color: #000000; }
      .top-bar .settings a:hover {
        color: #8d9e8d; }

.content-area {
  position: absolute;
  top: 4rem;
  left: 18rem;
  height: calc(100% - 4rem);
  width: calc(100% - 18rem);
  padding: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto; }
  .content-area .box {
    float: left;
    position: relative;
    margin: 0.5rem;
    border-radius: 0.2rem;
    background-color: #191c20; }
  .content-area .first-box {
    height: 40rem;
    width: 32rem; }
  .content-area .second-box {
    height: 40rem;
    width: calc(100% - (32rem + 4 * 0.5rem));
    min-width: 32rem; }
  .content-area .third-box {
    height: 22rem;
    width: 50%; }
  .content-area .servers {
    position: absolute; }
